<% @tweets.each do |tweet| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <%= link_to "#", class: "black-color no-text-decoration",
          title: tweet.name do %>
          <strong><%= tweet.name %></strong>
        <% end %>
        <%= link_to edit_tweet_path(tweet.id), method: :get, class: "edit-tweet" do %>
          <div class="edit-post-icon"></div>
        <% end %>
        <%= link_to tweet_path(tweet.id), method: :delete, class: "ml-auto mx-0 my-auto" do %>
          <div class="delete-post-icon"></div>
        <% end %>
      </div>

      <div class="content_post" style="background-image: url(<%= tweet.image %>);"></div>

      <div class="card-body">
        <p><%= tweet.text %></p>
        <div class="row parts">
          <%= link_to "いいね", "#", class: "love" %>
          <%= link_to "コメント", "#", class: "comment" %>
          <%# アイコン等は後ほど行う %>
        </div>
        <div class="love-mark"><strong>「いいね！」10件</strong>
          <%= link_to time_ago_in_words(tweet.created_at).upcase + "前", "#", class: "post-time no-text-decoration" %>
        </div>
        <hr>
        <div class="row parts">
          <form action="#" class="form">
            <div class="form-title">
              <textarea class="form-comment" placeholder="コメント..." rows="1"></textarea>
            </div>
            <input type="submit" value="send" class="send">
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>