<!DOCTYPE html>
<html>
  <head>
    <title>Beginergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <h1 class="header-title"><a href="/">Beginergram</a></h1>
        <div class="header-right">
          <a class="post"href="/">投稿する</a>
        </div>
      </div>
    </header>
    <body>
    <%= yield %>
    </body>
    <footer>
      <div class="footer-title">
        Beginergram 2020.
      </div>
    </footer>
  </body>
</html>
