<!DOCTYPE html>
<html>
  <head>
    <title>Beginergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <h1 class="header-title"><a href="/">Beginergram</a></h1>
        <% if user_signed_in? %>
          <div class="header-righ">
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
            <%= link_to "投稿する", new_tweet_path, class: "post-2" %>
          </div>
        <% else %>
          <div class="header-righ">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post-2" %>
          </div>
        <% end %>
      </div>
    </header>
    <body>
    <%= yield %>
    </body>
    <footer>
      <div class="footer-title">
        Beginergram 2020.
      </div>
    </footer>
  </body>
</html>
